
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box; 
}

html body {
  font-family: 'IBM Plex Mono', monospace;
  font-weight: 400;
  font-size: 16px;
  line-height: 1.7;
  color: black;

  height: 80vh;
  background-image: url(../img/Fis_Ikr_crop-cutout.png);
  background-size: auto;
  background-repeat: no-repeat;
  background-position: top 4em left 3em;
  }
  
.about-me-box{
}


.group-list-element{
  background-color: rgba(255, 255, 255, 0) !important;
  -webkit-backdrop-filter: saturate(180%) blur(2.5em) !important;
  backdrop-filter: saturate(10%) blur(1.25em) !important;
  margin-bottom: 2em !important;
  border-bottom: none !important;
  border-top: none !important;
  border-radius: .25rem !important;

  text-decoration: none;
  color: black;
}



.group-description{
  font-size: 1em;
  letter-spacing: 0.15em;
}

.group-link:link,
.group-link:visited{
  text-decoration: none;
  text-transform: uppercase;
  color: black;
  font-size: 1.5em;
}

.group-link:hover{
  display: block;
}

.group-link:active{
  display: block;
}

.form-control{
border-style: solid !important;
border-color: black !important;
}

.group-link-list-box-major:hover{
  animation-name: moveInLeft;
  transition: all 0.2s;
  animation-delay: 0.1s;

  box-sizing: content-box;
}

.group-link-list-box:hover{

  animation-name: LetterSpacetBlink;
  box-sizing: content-box;
  text-align: center;

  animation-timing-function: ease-in-out;
  animation-duration: 0.8s;
  animation-delay: 0s;
  transition: all 0.9s;

  letter-spacing: 1em;
}

.overflow-hidden { overflow: hidden; }

.group_content{
  box-sizing: content-box;
  display: block;
  padding: 1.78em;
}

.heading-primary {
  color: black;
  text-transform: none;

  backface-visibility: hidden;

  padding-top: 3em;
  padding-bottom: 4em;
  }

.heading-primary-main {
  display: block;
  font-size: 2.5rem;
  font-weight: 400;
  letter-spacing: 0.3em;
  animation-name: moveInLeft;
  animation-duration: 1.5s;
  animation-delay: 0.2s;
  animation-timing-function: ease-in-out;
  }

.heading-primary-sub {
  display: block;
  font-size: 1em;
  font-weight: 400;
  letter-spacing: 0.2em;
  animation-name: moveInRight;
  animation-duration: 1.5s;
  animation-delay: 0.1s;
  animation-timing-function: ease-in-out;

  margin-top: 1.4em;
  }

  /* BUTTONS */

  .btn:link, 
  .btn:visited {
    text-decoration: none;
    background-color: transparent;
    color: black;
    padding: 10px 30px;
    display: inline-block;
    -webkit-backdrop-filter: saturate(180%) blur(2.5em) !important;
    backdrop-filter: saturate(10%) blur(1.25em) !important;
    animation: moveInRight !important;
  }

  .btn-outline-dark:hover{
    background-color: rgb(0, 0, 0) !important;
    color: white !important;
    opacity: 0.9;
    transition: 0.6s;
  }

  .button-anime{
    animation-name: moveInUp;
    animation-duration: 1s;
    animation-delay: 0.4s;
    animation-timing-function: ease-in-out;
  }

/* FOOTER */

  .footer{
    text-decoration: none;
    background-color: transparent;
    color: black;
    padding: 2rem 0;
    display: inline-block;
    backdrop-filter: saturate(10%) blur(.9em) !important;
    font-size: 0.8rem;
  }

  .footer-navigation{
    border-top: 1px solid rgba(0, 0, 0, 0.438);
    padding-top: 0.2rem;
    display: inline-block;
  }

  .footer-list{
    list-style: none;
  }

  .footer-item{
    display: inline-block;
  }

  ion-icon {
    color: rgba(0, 0, 0, 0.795);
  }

  ion-icon:hover {
    color: rgba(0, 0, 0, 0.644);
  }

  .footer-copyright{
    display: inline-block;
    color: rgba(0, 0, 0, 0.726);
  }

  .footer-copyright-link{
    display: inline-block;
    text-decoration: none;
    color: rgb(0, 0, 0);
    text-transform: uppercase;
  }

  .footer-copyright-link:hover{
    display: inline-block;
    text-decoration: none;
    font-weight: 700;
    color: rgb(0, 0, 0);
  }

  /* ANIMATIONS */

@keyframes moveInUp{
  0%{
    opacity: 0;
    transform: translateY(2em);
  }

  100%{
    opacity: 1;
    transform: translateY(0em);
  }
}

@keyframes moveInLeft {
  0% {
    opacity: 0;
    transform: translateX(-6.25em); }
  100% {
    opacity: 1;
    transform: translate(0);
    } }

@keyframes moveInRight {
  0% {
    opacity: 0;
    transform: translateX(6.25em); }
  100% {
    opacity: 1;
    transform: translate(0); } }

@keyframes LetterSpacetBlink {
  0% {
    opacity: 0.1;
    transform: translateX(-6.25em);
  }
  100% {
    opacity: 1;
    transform: translateX(0em);
  }
  } 


/*
 * Custom translucent site header
 */
.site-header {
  /* background-color: rgba(0, 0, 0, .89); */
  -webkit-backdrop-filter: saturate(180%) blur(2.5em);
  backdrop-filter: saturate(180%) blur(1.25em); }

.site-header a {
  color: #999;
  transition: ease-in-out color .15s; }

.site-header a:hover {
  color: black;
  text-decoration: none; }

/*
 * Extra utilities
 */
.flex-equal > * {
  -ms-flex: 1;
  -webkit-box-flex: 1;
  flex: 1; }

@media (min-width: 48em) {
  .flex-md-equal > * {
    -ms-flex: 1;
    -webkit-box-flex: 1;
    flex: 1; } }

.overflow-hidden {
  overflow: hidden; }
