{% extends 'main/base.html' %}
    {% block head_primary %}Pear{% endblock %}
    {% block head_sub %}where the talking happen{% endblock %}
    {% block button_head %}<a href="#" class="btn btn-outline-dark btn-lg">Text</a>{% endblock %}
    
    {% block content %}

        <div class="d-md-flex flex-md-equal w-100">
            <div class="overflow-hidden">
                <div class="row">
                    <div class="col-6 col-6-background">
                    </div>
                    <div class="col-4">
                        <div class="about-me-box">
                            <p class="about-me">
                                Hi, my name is Stanisław Anioła and I am looks like the one on the left side; ok, maybe not exactly same but we have some common characteristics :) 
                            </p>
                            <p>
                                I am very exited to be your host here; Now, let me tell about where are we... so, the site that you are seeing is a simple blog. We can add posts and comments, and basicly do different stuff with them. Of course the blog right now it is not so practical because, anyone can post posts as anyone, so... yea. I just wanted to try to build something from scratch, as I did. Anyway, I am very proud of my self :) There is so much stuff that I learned during building this site, and I will be able to reuse them in nearby future projects :)
                            </p>
                            <div class="row">
                                <div class="col-12">
                                    <p>
                                        The contact is highly appriciated; I am trying to get my first job as a programmer right now, so if you are looking for someone to hire on near junior level... I am willing! :)
                                    </p>
                                </div>
                                </div>
                        
                                <div class="row">
                                <div class="col-sm-12">
                                    <p class="small">
                                        contact details in "Contact" section, in the footer ;)
                                    </p>
                                </div>
                                </div>
                        </div>
                    </div>
                    <div class="col-2">
                    </div>
                </div>
            </div>
        </div>

    {% endblock %}