{% extends 'main/base.html' %}
    {% block head_primary %}Pear{% endblock %}
    {% block head_sub %}where the talking happen{% endblock %}
    {% block button_head %}<a href="#" class="btn btn-outline-dark btn-lg">Text</a>{% endblock %}
    
    {% block content %}

        <div class="d-md-flex flex-md-equal w-100">
            <div class="overflow-hidden">
                <div class="row">
                    <div class="col-6 col-6-background">
                    </div>
                    <div class="col-4">
                        <div class="about-me-box">
                            <p class="about-me">
                                Hi, my name is Stanisław Anioła and I look like the one on the left side; ok, maybe not exactly same but we have some common characteristics :)
                            </p>
                            <p>
                                I am very exited to be your host here; Now, let me tell about where are we... So, the site that you are seeing is a simple blog website. We can create groups and add posts to them. The blog has also some basic managing features like possibility of updating or deleting stuff.
                            </p>
                            <p>
                                I built this site almost from scratch, in base of knowledge that I aquired by doing courses and looking answers on internet. Anyway, I am very proud of my self :) There is so much stuff that I learned during building this site; can't wait to use them in next projects :)
                            </p>
                            <div class="row">
                                <div class="col-12">
                                    <p>
                                        The contact is highly appreciated; I am trying to get my first job/interships as a programmer right now, so if you are looking to give someone a chance... I am willing! :)
                                    </p>
                                </div>
                                </div>
                        
                                <div class="row">
                                <div class="col-sm-12">
                                    <p class="small">
                                        contact details in "Contact" section, in the footer ;)
                                    </p>
                                </div>
                                </div>
                        </div>
                    </div>
                    <div class="col-2">
                    </div>
                </div>
            </div>
        </div>

    {% endblock %}