{% extends 'main/base.html' %}
    {% block head_primary %}Pear{% endblock %}
    {% block head_sub %}where the talking happen{% endblock %}
    {% block button_head %}<a href="#" class="btn btn-outline-dark btn-lg">Text</a>{% endblock %}

    {% block content %}

        <div class="d-md-flex flex-md-equal w-100">
            <div class="overflow-hidden">
                <div class="row">
                    <div class="col-6 col-6-background">
                    </div>
                    <div class="col-4">
                        <div class="about-me-box">
                            <p class="about-me">
                                Hi, my name is Stanisław Anioła and I look like the guy on the left; Ok, maybe not exactly the same, but we share some features :)
                            </p>
                            <p>
                                I am very excited to be your host here; Now, let me tell you about where we are... So, the site that you see is a simple blog website. We can create groups and add posts to them. The blog has also some basic managing features such as possibility of updating or deleting stuff.
                            </p>
                            <p>
                                I’ve built this site from scratch, based on the knowledge I acquired by doing courses and looking up answers on the internet. Anyway, I am very proud of myself :) There is so much stuff that I’ve learned when building this site; can't wait to use them in next projects :)
                            </p>
                            <div class="row">
                                <div class="col-12">
                                    <p>
                                        The contact is highly appreciated; I’m trying to find my first job/internship as a programmer, so if you are interested in giving someone a chance... I am willing! :)
                                    </p>
                                </div>
                                </div>

                                <div class="row">
                                <div class="col-sm-12">
                                    <p class="small">
                                        contact details in "Contact" section, in the footer ;)
                                    </p>
                                </div>
                                </div>
                        </div>
                    </div>
                    <div class="col-2">
                    </div>
                </div>
            </div>
        </div>

    {% endblock %}