{% extends 'main/base.html' %}
    {% block head_primary %}Group List{% endblock %}
    
    {% block head_sub %}
        {% if user.is_authenticated %}
            <p>Welcome back {{ user.username }}</p>
        {% else %}
            List of all posts
        {% endif %}
    {% endblock %}
    
    {% if user.is_authenticated %}
        {% block button_content %}
            {% if user.is_authenticated %}
                <!-- CREATE POST -->
                <div class="button-anime">
                    <a class="btn btn-outline-dark" href="#">Create a post</a>
                </div>
            {% endif %}
        {% endblock %}
    {% endif %}

    {% block content %}
        {% block group_content %}
            <ol class="list-group list-group-flush container">
                {% for group in group %}
                    <li class="list-group-item group-list-element">
                        <div class="d-md-flex flex-md-equal w-100">
                            <div class="overflow-hidden">
                                <div class="group-link-list-box">
                                    <div class="group-link-list-box-major">
                                        <a class="group-link" href="#">{{ post.group_title }}</a>
                                    </div>
                                </div>
                                comment{{ group.post_belong_to_group.count|pluralize }}:
                                <span>{{ group.post_belong_to_group.count }}</span>
                                <p class="group-description">author: {{ group.group_author }}</p>
                                <p class="group-description">published date: {{ group.group_published_date|date:"Y M d" }}</p>
                            </div>
                        </div>
                    </li>
                {% endfor %}
            </ol>
        {% endblock %}
    {% endblock %}

            <!-- <a href="{% url 'post_app:user_profile' username=user.username %}">@{{ user.username }}</a> -->
