{% extends 'main/base.html' %}
    {% block head_primary %}
        {% if form.instance.pk %}
            <p>Update post</p>
        {% else %}
            <p>Create post</p>
        {% endif %}
    {% endblock %}

    {% block head_sub %}
        <p>draft</p>
    {% endblock %}

    {% if user.is_authenticated %}
        {% block button_content %}
                <!-- CREATE POST -->
        {% endblock %}
    {% endif %}

    {% block content %}
        {% block group_content %}
        <div class="d-flex justify-content-center">
            <div class="w-25 p-3 text-center text-uppercase">
                <form method="post">
                    {% csrf_token %}
                    {{ form.as_p }}
                    <input type="submit" value="Submit" class="btn btn-outline-dark btn-block">
                </form>
            </div>
        </div>
        {% endblock %}
    {% endblock %}

            <!-- <a href="{% url 'post_app:user_profile' username=user.username %}">@{{ user.username }}</a> -->
