{% extends 'main/base.html' %}
    {% block head_primary %}Write a comment to{% endblock %}

    {% block head_sub %}
    {% endblock %}

    {% if user.is_authenticated %}
        {% block button_content %}
            <!-- CREATE POST -->
            <a class="btn btn-outline-dark" href="#">Approve!</a>
        {% endblock %}
    {% endif %}

    {% block content %}
          <div class="group_list_element p-3 mb-5 rounded shadow-lg">
              <p class="lead">{{ post_detail.post_text }}</p>
                <p>author: {{ post_detail.post_author }}</p>

                <div class="row">
                    <div class="col-9">
                        <p>published date: {{ post_detail.post_published_date|date:"Y M d" }}</p>
                    </div>
                    <div class="col-3 ">
                        <div class="btn-group float-right mr-3">
                            <a class="btn btn-outline-dark" name="options" href="{% url 'blog_app:post_update' pk=post_detail.pk %}">Update</a>
                            <a class="btn btn-outline-dark" name="options" href="{% url 'blog_app:post_delete' pk=post_detail.pk %}">Delete</a>
                        </div>
                    </div>
                </div>
          </div>

        {% block group_content %}
                <ol class="list-group list-group-flush">
                    {% for comment in post_detail.related_comment_belong.all %}
                        {% if comment.comment_approved %}
                            <li class="list-group-item shadow-sm p-2 mb-2 group_list_element">
                                <p  class="group_description_list">{{ comment.comment_text }}</p>
                                <p>author: {{ comment.comment_author }}</p>
                                <div class="row">
                                    <div class="col-9">
                                        <p>published date: {{ comment.comment_creation_date|date:"Y M d" }}</p>
                                    </div>
                                    {% if user.is_authenticated %}
                                        <div class="col-3">
                                            <div class="btn-group float-right mr-3">
                                                <a class="btn btn-outline-dark" name="options" href="{% url 'blog_app:comment_delete' pk=comment.pk %}">Delete</a>
                                            </div>
                                        </div>
                                    {% endif %}
                                </div>
                            </li>
                        {% elif user.is_authenticated %}
                            <li class="list-group-item shadow-sm p-2 mb-2 group_list_element">
                                <p  class="group_description_list">{{ comment.comment_text }}</p>
                                <p>author: {{ comment.comment_author }}</p>
                                <div class="row">
                                    <div class="col-9">
                                        <p>published date: {{ comment.comment_creation_date|date:"Y M d" }}</p>
                                    </div>
                                    <div class="col-3">
                                        <div class="btn-group btn-group-toggle float-right mr-3">
                                            <a class="btn btn-outline-dark" name="options" href="{% url 'blog_app:comment_approve' pk=comment.pk %}">Publish</a>
                                            <a class="btn btn-outline-dark" name="options" href="{% url 'blog_app:comment_delete' pk=comment.pk %}">Delete</a>
                                        </div>
                                    </div>
                                </div>
                            </li>
                        {% endif %}
                    {% endfor %}
                </ol>
        {% endblock %}
    {% endblock %}

            <!-- <a href="{% url 'post_app:user_profile' username=user.username %}">@{{ user.username }}</a> -->
