{% extends 'main/base.html' %}
    {% block head_primary %}Posts List{% endblock %}
    
    {% block head_sub %}
        {% if user.is_authenticated %}
            <p>Welcome back {{ user.username }}</p>
        {% else %}
            List of all posts
        {% endif %}
    {% endblock %}
    
    {% if user.is_authenticated %}
        {% block button_content %}
            {% if user.is_authenticated %}
                <!-- CREATE POST -->
                <a class="btn btn-outline-dark" href="{% url 'blog_app:post_create' %}">Create post</a>
            {% endif %}
        {% endblock %}
    {% endif %}

    {% block content %}
        {% block group_content %}
            <ol class="list-group list-group-flush">
                {% for post in post_list %}
                    <li class="list-group-item shadow-sm group_list_element">
                        <div class="group_link_list_box">
                            <div class="group_link_list_box_major">
                                <a class="group_link_list" href="{% url 'blog_app:post_detail' pk=post.pk %}">{{ post.post_title }}</a>
                            </div>
                        </div>
                        <div class="">
                            comment{{ post.related_comment_belong.count|pluralize }}:
                            <span>{{ post.related_comment_belong.count }}</span>
                            <p class="group_description_list">author:{{ post.post_author }}</p>
                            <p class="group_description_list">published date:{{ post.post_published_date|date:"Y M d" }}</p>
                        </div>
                    </li>
                {% endfor %}
            </ol>
        {% endblock %}
    {% endblock %}

            <!-- <a href="{% url 'post_app:user_profile' username=user.username %}">@{{ user.username }}</a> -->
