{% extends 'main/base.html' %}
    {% block head_primary %}Delete {{ post_delete.post_title }}{% endblock %}

    {% block head_sub %}
        {% if post_delete.related_comment_belong.count %}
            and {{ post_delete.related_comment_belong.count }} comments
        {% else %}
            no comments.
        {% endif %}
    {% endblock %}

    {% if user.is_authenticated %}
        {% block button_content %}
            {% if user.is_authenticated %}
                <!-- CREATE POST -->
            {% endif %}
        {% endblock %}
    {% endif %}

    {% block content %}
        {% block group_content %}
        <div class="d-flex justify-content-center">
            <div class="w-25 p-3 text-center text-uppercase">
                <form method="post">
                    {% csrf_token %}
                    {{ post_delete.as_p }}
                    <input type="submit" value="SignIn" class="btn btn-outline-dark btn-block">
                </form>
            </div>
        </div>
        {% endblock %}
    {% endblock %}

            <!-- <a href="{% url 'post_app:user_profile' username=user.username %}">@{{ user.username }}</a> -->
