{% extends 'main/base.html' %}
    {% block head_primary %}Posts List{% endblock %}
    
    {% block head_sub %}
        {% if user.is_authenticated %}
            <p>Welcome back {{ user.username }}</p>
        {% else %}
            List of all posts
        {% endif %}
    {% endblock %}
    
    {% if user.is_authenticated %}
        {% block button_content %}
            {% if user.is_authenticated %}
                <!-- CREATE POST -->
                <div class="button-anime">
                    <a class="btn btn-outline-dark" href="{% url 'blog_app:post_create' %}">Create a post</a>
                </div>
            {% endif %}
        {% endblock %}
    {% endif %}

    {% block content %}
        {% block group_content %}
            <ol class="list-group list-group-flush">
                {% for post in post_list %}
                    <li class="list-group-item shadow-sm group-list-element">
                        <div class="d-md-flex flex-md-equal w-100">
                            <div class="overflow-hidden">
                                <div class="group-link-list-box">
                                    <div class="group-link-list-box-major">
                                        <a class="group-link" href="{% url 'blog_app:post_detail' pk=post.pk %}">{{ post.post_title }}</a>
                                    </div>
                                </div>
                                comment{{ post.related_comment_belong.count|pluralize }}:
                                <span>{{ post.related_comment_belong.count }}</span>
                                <p class="group-description">author: {{ post.post_author }}</p>
                                <p class="group-description">published date: {{ post.post_published_date|date:"Y M d" }}</p>
                            </div>
                        </div>
                    </li>
                {% endfor %}
            </ol>
        {% endblock %}
    {% endblock %}

            <!-- <a href="{% url 'post_app:user_profile' username=user.username %}">@{{ user.username }}</a> -->
