{% extends 'main/base.html' %}
    {% block head_primary %}Draft posts List{% endblock %}
    
    {% block head_sub %}
        {% if post_list_draft.count >= 1 %}
            <p>Hello {{ user.username }}!</p>
        {% else %}
            No drafts at the moment.
        {% endif %}
    {% endblock %}
    
        {% block button_content %}
            <a class="btn btn-outline-dark" href="{% url 'blog_app:post_create' %}">Create a post</a>
        {% endblock %}

    {% block content %}
        {% block group_content %}
            <ol class="list-group list-group-flush">
                {% for post in post_list_draft %}
                <li class="list-group-item shadow-sm group_list_element">
                    <div class="group_link_list_box">
                        <div class="group_link_list_box_major">
                            <a class="group_link_list" href="{% url 'blog_app:post_detail' pk=post.pk %}">{{ post.post_title }}</a>
                        </div>
                    </div>
                    <div class="">
                        <p class="group_description_list">author: {{ post.post_author }}</p>
                        <p class="group_description_list">created date: {{ post.post_creation_date|date:"Y M d" }}</p>
                    </div>
                </li>
                {% endfor %}
            </ol>
        {% endblock %}
    {% endblock %}

            <!-- <a href="{% url 'post_app:user_profile' username=user.username %}">@{{ user.username }}</a> -->
