{% extends 'main/base.html' %}
    {% block head_primary %}Delete {{ post_delete.post_title }}{% endblock %}

    {% block head_sub %}
        {% if post_delete.related_comment_belong.count >= 2 %}
            and {{ post_delete.related_comment_belong.count }} comments
        {% elif post_delete.related_comment_belong.count >= 1 %}
            and {{ post_delete.related_comment_belong.count }} comment
        {% else %}
            no comments.
        {% endif %}
    {% endblock %}

    {% if user.is_authenticated %}
        {% block button_content %}
            {% if user.is_authenticated %}
                <!-- CREATE POST -->
                <div class="d-flex justify-content-center">
                    <div class="w-25 p-3 text-center text-uppercase">
                        <form method="post">
                            {% csrf_token %}
                            <input type="submit" value="Delete" class="btn btn-outline-dark btn-block">
                        </form>
                    </div>
                </div>
            {% endif %}
        {% endblock %}
    {% endif %}

    {% block content %}
        {% block group_content %}
        <div class="group-list-element p-3 mb-5 rounded shadow-lg">
            <p class="lead">{{ post_delete.post_text }}</p>
              <p>author: {{ post_delete.post_author }}</p>

              <div class="row">
                  <div class="col-9">
                      {% if post_delete.post_published_date %}
                        {% if post_delete.related_comment_belong.count %}
                            comments: {{ post_delete.related_comment_belong.count }}
                        {% endif %}
                        <p>published date: {{ post_delete.post_published_date|date:"Y M d" }}</p>
                      {% else %}
                          <p>created date: {{ post_delete.post_creation_date|date:"Y M d" }}</p>
                      {% endif %}
                  </div>
              </div>
        </div>
        {% endblock %}
    {% endblock %}

            <!-- <a href="{% url 'post_app:user_profile' username=user.username %}">@{{ user.username }}</a> -->
