{% extends 'main/base.html' %}
    {% block head_primary %}{{ post_detail.post_title }}{% endblock %}
    
    {% block head_sub %}
        {% if post_detail.post_published_date %}
            {% if post_detail.related_comment_belong.count >= 1 %}
            {% else %}
                <p>Be the first who will write a comment here!</p>
            {% endif %}
        {% else %}
            <p>draft post</p>
        {% endif %}
    {% endblock %}

    {% if user.is_authenticated %}
        {% block button_content %}
            <!-- CREATE POST -->
            {% if post_detail.post_published_date %}
                <div class="button-anime">
                    <a class="btn btn-outline-dark" href="{% url 'blog_app:add_comment' pk=post_detail.pk %}">Write a comment</a>
                </div>
            {% else %}
                <div class="button-anime">
                    <a class="btn btn-outline-dark" href="{% url 'blog_app:post_publish' pk=post_detail.pk %}">Publish a post</a>
                </div>
                {% endif %}
        {% endblock %}
    {% endif %}

    {% block content %}
        <div class="d-md-flex flex-md-equal w-100">
            <div class="overflow-hidden">
                <div class="group-list-element p-3 mb-5 rounded shadow-lg">
                    <p class="lead">{{ post_detail.post_text }}</p>
                    <p>author: {{ post_detail.post_author }}</p>

                    <div class="row">
                        <div class="col-9">
                            {% if post_detail.post_published_date %}
                                <p>published date: {{ post_detail.post_published_date|date:"Y M d" }}</p>
                            {% else %}
                                <p>created date: {{ post_detail.post_creation_date|date:"Y M d" }}</p>
                            {% endif %}
                        </div>
                        {% if user.is_authenticated %}
                            <div class="col-md-3 col-lg-2">
                                <div class="btn-group float-right mr-3">
                                    <a class="btn btn-outline-dark" name="options" href="{% url 'blog_app:post_update' pk=post_detail.pk %}">Update</a>
                                    <a class="btn btn-outline-dark" name="options" href="{% url 'blog_app:post_delete' pk=post_detail.pk %}">Delete</a>
                                </div>
                            </div>
                        {% endif %}
                    </div>
                </div>
            </div>
        </div>

        {% block group_content %}
                {% for comment in post_detail.related_comment_belong.all %}
                    {% if comment.comment_approved %}
                        <h5 class="text-center">COMMENTS:</h5>
                    {% endif %}
                {% endfor %}

                <ol class="list-group list-group-flush">
                    {% for comment in post_detail.related_comment_belong.all %}
                        {% if comment.comment_approved %}
                            <li class="list-group-item shadow-sm p-2 mb-2 group-list-element">
                                    <div class="d-md-flex flex-md-equal w-100">
                                        <div class="overflow-hidden">
                                            <p  class="group-description">{{ comment.comment_text }}</p>
                                            <p>author: {{ comment.comment_author }}</p>
                                            <div class="row">
                                                <div class="col-9">
                                                    <p>created date: {{ comment.comment_creation_date|date:"Y M d" }}</p>
                                                </div>
                                                {% if user.is_authenticated %}
                                                    <div class="col-3">
                                                        <div class="btn-group float-right mr-3">
                                                            <a class="btn btn-outline-dark" name="options" href="{% url 'blog_app:comment_delete' pk=comment.pk %}">Delete</a>
                                                        </div>
                                                    </div>
                                                {% endif %}
                                            </div>
                                        </div>
                                    </div>
                            </li>
                        {% elif user.is_authenticated %}
                            <li class="list-group-item shadow-sm p-2 mb-2 group-list-element">
                                <p  class="group-description">{{ comment.comment_text }}</p>
                                <p>author: {{ comment.comment_author }}</p>
                                <div class="row">
                                    <div class="col-9">
                                        <p>created date: {{ comment.comment_creation_date|date:"Y M d" }}</p>
                                    </div>
                                    <div class="col-3">
                                        <div class="btn-group btn-group-toggle float-right mr-3">
                                            <a class="btn btn-outline-dark" name="options" href="{% url 'blog_app:comment_approve' pk=comment.pk %}">Publish</a>
                                            <a class="btn btn-outline-dark" name="options" href="{% url 'blog_app:comment_delete' pk=comment.pk %}">Delete</a>
                                        </div>
                                    </div>
                                </div>
                            </li>
                        {% endif %}
                    {% endfor %}
                </ol>
        {% endblock %}
    {% endblock %}

            <!-- <a href="{% url 'post_app:user_profile' username=user.username %}">@{{ user.username }}</a> -->
